.about {
  padding: 70px 20px;

  .container {
    margin-inline: auto;
    width: 100%;
    max-width: 1000px;
    text-align: left;

    .name {
      font-size: 2rem;
      font-weight: normal;
    }

    .profile p {
      font-size: 2rem;
    }
  }
}
