.tree {
  padding: 10px 0 50px;

  a {
    width: 100%;
    font-size: 1.3rem;
    color: var(--black);
    display: inline-block;
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
      color: var(--blue);
      transform: translateX(10px);
    }
  }

  ul {
    &::after {
      content: "";
      width: 1px;
      background-color: var(--black);
      position: absolute;
      left: 13px;
      top: 0;
      bottom: 0;
    }

    &[data-opened="false"] > * {
      display: none;
    }
  }
}
