.progress {
  margin-inline: auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

  .ringProgress {
    margin-inline: auto;
  }

  .label {
    font-size: 2rem;
    text-align: center;
    font-weight: 100;
  }
}
