.about {
  padding: 70px 20px;
  font-family: var(--font-serif);

  .container {
    margin-inline: auto;
    width: 100%;
    max-width: 800px;
    text-align: left;

    .name {
      padding: 20px 0;
      font-size: 2.5rem;
      font-weight: normal;
    }

    .profile {
      padding: 10px 0;
      font-size: 2rem;
      text-indent: 1em;
    }

    .accounts {
      display: flex;
      gap: 10px;
      justify-content: flex-end;

      .link {
        color: initial;
        transition: color 0.3s;

        .icon {
          font-size: 3rem;
        }

        &:hover {
          color: var(--accent);
        }
      }
    }
  }
}
