.card {
  height: 400px;
  background-color: var(--background-light);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;

  .heroWrapper {
    height: 150px;
    width: 100%;
    position: relative;

    .heroImage {
      object-fit: cover;
    }
  }

  .content {
    height: 205px;
    padding: 15px 15px 0 15px;
    overflow: hidden;

    .title {
      font-size: 1.8rem;
    }

    .mdWrapper {
      height: 170px;
      margin: 10px;
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }

  .footer {
    margin-top: 15px;
    height: 30px;
    border-top: 1px solid var(--black);

    .date {
      line-height: 30px;
      font-size: 1.2rem;
      padding-inline: 10px;
    }
  }
}
